@import 'typography';
@import 'color';

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

@mixin heading {
    font-family: $text-description;
}

@mixin navbarLink {
    color: $color-primary !important;
    font-family: $text-subheading !important;
    text-transform: lowercase !important;
}